* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: #494949;
  height: 100px;

  display: flex;
  align-items: center;
}

.navbar-img {
  width: 100px;
  height: auto;
}

.searchbar-container {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.searchbar input {
  padding: 5px;
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
}

.searchbar-btn button {
  background-color: rgb(0, 110, 255);
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.pokedex-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
